form h1 {
    margin: 5px 0;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(210, 0, 90);
}

form label {
    font-size: 0.9rem;
    font-weight: bold;
}

form input[type="date"] {
    font-family: "Nunito", sans-serif;
}

.form-action, button, input[type="button"] {
    background-color: #fdffb9;
    padding: 5px 10px;
    font-weight: bold;
    color: #434343;
    border-radius: 10px;
    border: 2px solid #cdcf93;
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
}

.form-action:hover, button:hover, input[type="button"]:hover {
    background-color: #f4ff62;
}
.actions .form-action{
    cursor: pointer;
}
.glasspane{
    width:100vw;
    height:100vh;
    z-index:10;
    position: absolute;
    background-color:rgba(186,189,169,0.5);
    top:0%;
    left:0%;
    display: flex;
    align-items: center;
    justify-content: center;

}
