.libreria {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 65px auto;
}

.libreria .libreria-header {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    align-items: baseline;
}

.libreria .status-filter {
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 30px;
    background-color: rgba(144, 197, 197, 0.47);
    font-size: 0.9rem;
}

.libreria .status-filter .status-filter-title {
    font-weight: bold;
}

.libreria .book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.libreria .book-list .book-item {
    background-color: rgba(246, 255, 0, 0.23);
    width: 250px;
    max-width: 250px;
    height: 320px;
    max-height: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 0.8rem;
    border: 4px solid rgba(144, 197, 197, 0.47);
}

.libreria .book-list .book-item.borrowed {
    background-color: rgba(255, 77, 147, 0.27);
}

.libreria .book-list .book-item.lent {
    background-color: rgb(144, 197, 197);
    opacity: 50%;
}

.book-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.book-collection .book-item {
    background-color: rgba(246, 255, 0, 0.23);
    width: 250px;
    max-width: 250px;
    height: 320px;
    max-height: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 0.8rem;
    border: 4px solid rgba(144, 197, 197, 0.47);
}

.book-collection .book-item.borrowed {
    background-color: rgba(255, 77, 147, 0.27);
}

.book-collection .book-item.lent {
    background-color: rgb(144, 197, 197);
    opacity: 50%;
}

.book-item .book-cover {
    height: 200px;
    align-self: center;
    margin-bottom: 10px;
    flex-grow: 0;
}

.book-item .book-info {
    flex-grow: 1;
}

.book-info p {
    margin: 3px 0;
    padding: 0;
}

.book-info .book-title {
    font-weight: bold;
}

.book-info .book-author {
    font-style: italic;
}

.book-info .book-author:before {
    content: "by ";
    font-style: normal;
}

.book-item .book-status {
    background-color: rgba(246, 255, 0, 0.61);
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: baseline;
}

.book-item.borrowed .book-status {
    background-color: rgba(246, 255, 0, 0.3);
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: baseline;
}

.book-status .status {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(41, 164, 164);
    color: white;
    padding: 2px 6px;
    min-width: 12px;
    width: 12px;
    border-radius: 12px;
    text-align: center;
}

.book-status .requests {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(210, 0, 90);
    color: white;
    padding: 2px 6px;
    min-width: 12px;
    width: 12px;
    border-radius: 12px;
    text-align: center;
}

.book-status .due {
    font-style: italic;
}

.book-item .book-action {
    display: flex;
    padding: 4px;
    justify-content: center;
}

.book-action .action {
    padding: 5px 10px;
    background-color: rgb(0, 117, 117);
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}

.book-action .action a {
    color: white;
}

.book-action .action:hover {
    background-color: rgb(14, 164, 164);
}